@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

@layer utilities {
  .card-hover {
    @apply shadow-sm border border-white hover:border-[2px] hover:border-blue-500 hover:shadow-md hover:shadow-blue-500 transition-colors duration-200 ease-in-out;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}